@font-face {
	font-family: "top_secret";
	src: url("./fonts/top_secret.woff2") format("woff2"),
		url("./fonts/top_secret.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--black);
}

:root {
	font-size: 62.5%;
	--space-xsmall: 15px;
	--space-small: 25px;
	--space-medium: 50px;
	--black: rgb(0, 0, 0);
	--gray: rgb(51, 51, 51);
	--red: rgb(255, 0, 0);
}

body {
	background-color: rgb(30, 30, 30);
	height: 100vh;
	height: 100svh; /* for mobile */
	display: flex;
}

h1 {
	font-family: "top_secret";
	color: var(--red);
	font-size: clamp(3rem, 1.2394rem + 5.6338vw, 8rem);
	font-weight: 100;
}

a {
	color: var(--gray);
}

.sidebar {
	background-image: url("./img/spam.jpg");
	background-repeat: no-repeat;
	flex: 1 1 auto;
}

.sidebar-content {
	background-color: rgb(0, 0, 0, 0.65);
	margin-top: 25vh;
	padding: var(--space-small);
}

.main {
	flex: 2 1 auto;
	font-size: 2.1rem;
	background-color: rgb(249, 250, 251);
	display: flex;
	align-items: center;
}

.main-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.main-text {
	padding-right: var(--space-medium);
}

.main-text > :last-child {
	margin-top: var(--space-small);
}

.main-item {
	padding-left: var(--space-medium);
}

form {
	display: flex;
	flex-direction: column;
	gap: var(--space-small);
}

.form-input {
	display: flex;
	flex-direction: column;
	gap: var(--space-xsmall);
	background-color: rgb(255, 255, 255);
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
	padding-top: var(--space-small);
	padding-bottom: var(--space-small);
	padding-right: var(--space-medium);
}

.input-item {
	display: flex;
	flex-wrap: wrap;
	column-gap: var(--space-medium);
	row-gap: var(--space-xsmall);
}

.input-item > div {
	flex: 0 1 260px;
	display: flex;
	flex-direction: column;
}

label {
	color: var(--gray);
}

input {
	font-size: 1.8rem;
	padding: 5px;
}

input:focus-visible {
	outline-color: rgb(0, 128, 255);
}

input + span {
	position: relative;
}

input:required + span::before {
	position: absolute;
	content: "required";
	font-size: 1.6rem;
	font-weight: bold;
	top: -54px;
	right: 0px;
}

button {
	font-size: 2.1rem;
	font-weight: bold;
	color: rgb(255, 255, 255);
	padding: var(--space-xsmall) var(--space-small);
	background-color: var(--gray);
	border-radius: 10px;
	border: none;
}
